@tailwind base;
@tailwind components;
@tailwind utilities;

/* Let the page grow with content */
html, body, #root {
  min-height: 100%;
  height: auto;       /* override the 100% rule */
  margin: 0;
  padding: 0;
}

/* Put the gradient on html (or body) */
html {
  background:
  linear-gradient(
    2deg,
    #070e29 0%,
    #252f53 5%, 
    #1a5654 10%,
    #3e6b7e 15%,
    #bdc21e 20%, 
    #9313a6 25%,
    #c2301e 30%,
    #351567 35%,
    #16d1a8 40%, 
    #d16e16 50%,
    #7a16d1 55%,
    #d17416 60%,
    #cfce00 65%,
    #d11699 70%,
    #d016d1 75%,
    #1620d1 80%,
    #00a3cf 85%,
    #111256 90%,
    #1c1f66 95%,
    #6453b6 100%
  );
  background-repeat: no-repeat;  /* defensive */
  background-size: cover;        /* fill viewport */
  /* optional: keep it stationary as you scroll */
  /* background-attachment: fixed; */
}
