@tailwind base;
@tailwind components;
@tailwind utilities;

/* Let the page grow with content */
html, body, #root {
  min-height: 100%;
  height: auto;       /* override the 100% rule */
  margin: 0;
  padding: 0;
}

/* Put the gradient on html (or body) */
html {
  background:
  linear-gradient(
    2deg,
    #4b3e7e 0%,
    #151846 10%, 
    #151846 20%,
    #241d47 30%, 
    #241d47 40%,
    #210f5b 50%,
    #351567 60%,
    #010642 70%, 
    #010642 80%,
    #1c1f66 90%,
    #6453b6 100%
  );
  background-repeat: no-repeat;  /* defensive */
  background-size: cover;        /* fill viewport */
  /* optional: keep it stationary as you scroll */
  /* background-attachment: fixed; */
}
