@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
background: linear-gradient(135deg, rgba(53, 39, 112, 1) 0%, rgba(30, 40, 50, 1) 30%, rgba(38, 56, 82, 1) 65%, rgba(53, 39, 112, 1) 100%);
}
